.main-box {
  border: solid 3px black;
  background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
  height: 740px;
  width: 1020px;
  padding: 10px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  font-family: "Balsamiq Sans", cursive;
}
.box-one,
.box-two {
  border: solid 1px rgb(129, 126, 126);
  background-color: #fff;
  padding: 30px;
  margin: 5px auto;
}
.temperature-switch {
  position: absolute;
  background-color: white;
  margin: 2px auto;
  padding: 0 auto;
  display: block;
}
.celsius,
.fahrenheit {
  color: #b5ecce;
  text-decoration: none;
  cursor: default;
}

.active:hover {
  color:black;
  text-decoration: none;
  cursor: default;
}

form {
  width: 400px;
  margin: 20px 0 20px 50px;
  font-size: 25px;
  font-family: "Balsamiq Sans", cursive;
}
#submit-button {
  font-size: 15px;
  background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
  border-radius: 30px;
  border: solid 1px white;
}
.date-time {
  font-size: 12px;
}
img {
  width: 120px;
  margin: 50px auto;
}
.temperature {
  font-size: 40px;
  font-weight: 500;
}
p {
  font-size: 18px;
}
.day-block {
  text-align: center;
}
.weather-card {
  font-size: 20px;
  text-align: center;
  margin: 26px auto;
  padding: 10px;
  width: 100%;
  height: 70px;
}
.coder,
.github-link {
  text-align: center;
  font-family: monospace;
  margin: 20px auto;
  text-decoration: none;
}
.img2 {
  width: 60px;
  text-align: center;
  vertical-align: top;
  display: inline;
  margin: 0 auto;
}
.minmax {
  font-size: 20px;
  text-align: center;
}
.weather-forecast-day {
  font-size: 15px;
}
